@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Note

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="fr" xml:lang="fr">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Details</title>
</head>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<body>

<div>
    <h4>Note</h4>
    <hr/>
    <dl class="row">
        @if (Model == null)
        {
            <p>Une erreur s'est produite. Impossible d'afficher le détail de la note.</p>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Body)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model?.Body?.Replace("\n", "<br>"))
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastUpdatedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastUpdatedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Creator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Creator)
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Editer", "Edit", new { id = Model.Id }) |
    <a asp-controller="Home" asp-action="Index">Retour à la liste</a>
</div>
</body>
</html>