@model List<Frontend.Models.Note>

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes du Patient</title>
    <link rel="stylesheet" href="styles.css">
</head>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<body>
    <h1>Notes du Patient</h1>

    @if (Model != null && Model.Any())
    {
        <div id="notes-container">
            @foreach (var note in Model)
            {
                <div class="note">
                    <h2>@note.Title</h2>
                    <p>@note.Body</p>
                    @if (note.CreatedDate.HasValue)
                    {
                        <small>Date de création: @note.CreatedDate.Value.ToString()</small>
                    }
                    @if (note.LastUpdatedDate.HasValue)
                    {
                        <small>Dernière mise à jour: @note.LastUpdatedDate.Value.ToString()</small>
                    }
                    @if (note.Creator != null)
                    {
                        <small>Créateur : @note.Creator</small>
                    }
                </div>
                <div>
                        @Html.ActionLink("Editer la note", "Edit", "Notes", new { id = note.Id })
                </div>
            }
        </div>
    }
    else
    {
        <p>Aucune note trouvée</p>
    }
</body>

</html>
